@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

//general varaibles
$custom-background:#ecececbb;
$custom-error-background:#ffbaba;
$custom-headline-background:#1a222b;
$custom-font-size:500;
$custom-text-color:#ece8e8ee;
//player input variables
$custom-error-font-color:#7a0000;


//gamebox variables
$gamebox-background:#1e40af55;
$gamebox-background-hover:#d0ff00;

$custom-gamebox-width:6rem;